@import "~bootstrap/scss/bootstrap.scss";

$text-color: #B1B6C9;

a.menu-item {
    text-decoration: none;
    color: $text-color;
    padding: 0.5em; 
}

a.menu-item:hover {
    color: purple; 
}

.first-image-container {
    background-image: url('../images/pexels-photo-94723.jpeg');
    height: 75%; 
    
}  

.second-image-container {
    background-image: url('../images/pexels-photo-410981.jpeg'); 
} 

.top {
    padding-top: 150px; 
}

button {
    align-content: center; 
    margin-left: 500px; 
    margin-top: 250px; 
}


